.login-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 20px;
}
.course-container {
  display: grid;
  gap: 20px;
  border: 2px solid white;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}
.course-card {
  margin: 10px;
  width: 150px;
  height: 100px;
  border: 2px solid white;
  border-radius: 20px;
}
.course-card:hover {
  background-color: rgb(65, 65, 65);
}
.dashboard-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;  
}
.dash-navigation-bar {
  position: relative;
  top: 0;
  width: 100%;
}
.btn-logout {
  position: absolute;
  right: 0;
  top: 0;
}
